@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue-primary: #3B82F6;
  --blue-soft: #EAF2FF;
  --gray-900: #111827;
  --gray-700: #374151;
  --gray-500: #6B7280;
  --gray-200: #E5E7EB;
  --gray-100: #F3F4F6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--blue-primary);
  --color-primary-soft: var(--blue-soft);
  --color-muted: var(--gray-500);
  --color-border: var(--gray-200);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.btn-primary {
  position: relative;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  font-weight: 600;
  color: white;
  background-color: #2563eb;
  transition: all 0.3s ease;
  box-shadow: 0 10px 20px rgba(37, 99, 235, 0.25);
  overflow: hidden;
}

.btn-primary:hover {
  background-color: #1d4ed8;
}

.btn-primary::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0.75rem;
  background-color: #facc15;
  opacity: 0.25;
  filter: blur(18px);
  z-index: -1;
}
.main-title {
  position: relative;
  display: inline-block;
  font-size: 1.875rem; /* text-3xl */
  font-weight: 700;
  color: #1d4ed8; /* blue-700 */
  margin-bottom: 0.75rem;
  margin-left: auto;
  margin-right: auto;
}

.main-title::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2px; /* close under text */
  width: 60%;
  height: 4px;
  background-color: #facc15; /* yellow-400 */
  border-radius: 9999px;
}
.blob {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 9999px;
  filter: blur(120px);
  opacity: 0.4;
  animation: floaty 8s ease-in-out infinite alternate;

}

/* Colors */
.blob-yellow {  background: radial-gradient(circle, #ffd45f, rgba(255,218,115,0));}
.blob-pink   { background: #ebbac5; bottom: 5%; left: 20%; }
.blob-blue   { background: #8ac0f3; top: 20%; right: -2%; }

@keyframes floaty {
  0% { transform: translateY(0px) scale(1); }
  100% { transform: translateY(-40px) scale(1.1); }
}